<div class="selection-home">
<%= link_to 'Ajouter une note', new_post_path, class:"add-note btn btn-warning btn-lg btn-lg fs-1" %>
<%= link_to  'Mes notes', posts_path, class:"add-note btn btn-outline-warning btn-lg btn-lg fs-1" %>
</div>